#zhaohui_body {
	height: 95%;
}
#zhaohui_tianxielan {
	margin-left: 200px;
	margin-top:25px;
	width: 959px;
	height: 493px;
}
#img_zhaohui_tianxielan{
	z-index: 0;
	position: absolute;
}

.img_zhaohui_xuanchuan {
	position:relative;
	 margin-top:40px;
	margin-left: 260px;
	margin-bottom:25px;
	width: 100px;
	height: 100px;
}

.zhaohui_sangebuzhou {
	margin-left: 25px;
	position:relative;
}

.buzhou{
	margin-left: 100px;
	
	}
#zhaohui_sangebuzhou1 {
	display: block;
}

#zhaohui_sangebuzhou2 {
	display: none;
}

#zhaohui_sangebuzhou3 {
	display: none;
}



.zhaohui_xiayibu {
	width: 284;
	height: 40px;
	position: absolute;
	margin-top: 150px;
	margin-left: 50px;
}

.zhaohui_yonghuming {
	position: absolute;
	width: 284px;;
	height: 30px;
	margin-top: 80px;
	margin-left: 50px;
}

.zhaohui_daan {
	position: absolute;
	width: 284px;;
	height: 30px;
}



.zhaohui_yonghuming_text {
	position: absolute;
	font-family: "Arial", "Microsoft YaHei", sans-serif;
	font-size: 20px;
	color: #a3520a;
}

.text_yonghuming {
	margin-left: 50px;
	margin-top: 40px;
}

.wenti1 {
	font-size: 16px;
	margin-left: 50px;
	margin-top: 45px;
}

.wenti2 {
	font-size: 16px;
	margin-left: 50px;
	margin-top: 75px;
}

.Odaan {
	margin-top: 50px;
	margin-left: 50px;
}

.Tdaan {
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 10px;
}

.mima1 {
	font-size: 16px;
	margin-left: 50px;
	margin-top: 50px;
}

.mima2 {
	font-size: 16px;
	margin-left: 50px;
	margin-top: 108px;
}

.Tmima1 {
	margin-top: 80px;
	margin-left: 50px;
}

.Tmima2 {
	margin-top: 128px;
	margin-left: 50px;
	margin-bottom: 100px;    
}



.xing {
	position: absolute;
	color: red;
	display: none;
	margin-left: 50px;
	margin-top: 115px;
	font-family: "Arial", "Microsoft YaHei", sans-serif;
	font-size: 10px;
	color: red;
	font-weight: normal;
}

.cuowutishi {
	position: absolute;
	margin-left: 50px;
	margin-top: 95px;
	font-family: "Arial", "Microsoft YaHei", sans-serif;
	font-size: 10px;
	color: red;
	font-weight: normal;
}

.zhengquetishi {
	position: absolute;
	margin-left: 50px;
	margin-top: 95px;
	font-family: "Arial", "Microsoft YaHei", sans-serif;
	font-size: 10px;
	color: green;
	font-weight: normal;
}

#qiangdu {
	position: absolute;
	background-color: white;
	margin-left: 305px;
	margin-top: 81px;
}

#qiangdu_neizhi {
	position: absolute;
	width: 28px;
	height: 28px;
	font-family: "Arial", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	color: black;
	font-weight: normal;
	line-height: 28px;
	text-align: center;
	display: none;
}
.q1{
	background-color: red;
}
.q2{
	background-color: #4cf24c;
}
.q3{
	background-color: green;
}

.cuowumima2{
	margin-top: 140px;
}
#cw4{
margin-top: 120px;
margin-left: 340px;
}
#zq4{
margin-top: 120px;
margin-left: 340px;
}