@CHARSET "UTF-8";
*{
		-webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 0.3s; /*动画持续时间*/
	-webkit-animation-iteration-count: 0; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
.headpic_td {
	width: 45px;
	height: 45px;
}
#chatingTable td{
	width: 200px;
}